In [1]:
import pandas as pd

In [2]:
def readExcelData(path):
    df_excel=[]
    df_read=pd.ExcelFile(path)  
    for sheet in df_read.sheet_names:
        df=pd.read_excel(path,sheet_name=sheet)
        df_excel.append(df)
    return df_read.sheet_names,df_excel

In [10]:
file_path = "C:\\Users\\Hp\\testingPractice\\PycharmProjects\\etlProject\\resource\\excelfile1.xlsx"

sheet_names1,excel_file1 = readExcelData(file_path)

In [14]:
print(len(excel_file1))

2

In [17]:
print(excel_file1[0])

     EMPLOYEE_ID FIRST_NAME LAST_NAME       EMAIL  PHONE_NUMBER  HIRE_DATE  \
0            100     Steven      King       SKING  515.123.4567 2003-06-17
1            101      Neena   Kochhar    NKOCHHAR  515.123.4568 2005-09-21
2            102        Lex   De Haan     LDEHAAN  515.123.4569 2001-01-13
3            103  Alexander    Hunold     AHUNOLD  590.423.4567 2006-01-03
4            104      Bruce     Ernst      BERNST  590.423.4568 2007-05-21
..           ...        ...       ...         ...           ...        ...
103          203      Susan    Mavris     SMAVRIS  515.123.7777 2002-06-07
104          204    Hermann      Baer       HBAER  515.123.8888 2002-06-07
105          205    Shelley   Higgins    SHIGGINS  515.123.8080 2002-06-07
106          206    William     Gietz      WGIETZ  515.123.8181 2002-06-07
107          990      Test1     Data1  test1data1  000.000.0000 2023-02-27

         JOB_ID  SALARY  COMMISSION_PCT  MANAGER_ID  DEPARTMENT_ID
0       AD_PRES   24000             NaN         NaN           90.0
1         AD_VP   17000             NaN       100.0           90.0
2         AD_VP   17000             NaN       100.0           90.0
3       IT_PROG    9000             NaN       102.0           60.0
4       IT_PROG    6000             NaN       103.0           60.0
..          ...     ...             ...         ...            ...
103      HR_REP    6500             NaN       101.0           40.0
104      PR_REP   10000             NaN       101.0           70.0
105      AC_MGR   12008             NaN       101.0          110.0
106  AC_ACCOUNT    8300             NaN       205.0          110.0
107      HR_REP   10000             NaN       100.0           70.0

[108 rows x 11 columns]

In [18]:
df = pd.DataFrame(columns=['Sheet_Name','Match_Count','Mismatch_Count'])

In [19]:
df

Empty DataFrame
Columns: [Sheet_Name, Match_Count, Mismatch_Count]
Index: []

In [1]:
lis = []

for i in range(10):
    lis.append(i)

print(lis)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lis_new = lis.copy()

In [7]:
lis_new[0], lis_new[1] = lis_new[1], lis_new[0]

lis_new[-1], lis_new[-2] = lis_new[-2], lis_new[-1]

print(lis_new)

[1, 0, 2, 3, 4, 5, 6, 7, 9, 8]

In [18]:
num_lis = [23,45,41,213,69,72,41,5,2,24]

In [19]:
highest = 0

for i in num_lis:
    if i > highest:
        highest = i
print(highest)

213

In [17]:
lowest = num_lis[0]
for j in num_lis:
    if j < lowest:
        lowest = j
print(lowest)

2

In [29]:
rev_num_lis = []

for i in range(len(num_lis)-1, -1, -1):
    rev_num_lis.append(num_lis[i])
print(rev_num_lis)

[24, 2, 5, 41, 72, 69, 213, 41, 45, 23]